:root {
    --color-dark: rgb(43, 42, 42);
    --color-dark-cont: rgba(43, 42, 42, 0.6);
    --color-main-bg: rgb(20,20,20);
    --color-white: white;
    --color-light: rgb(150, 150, 150);
    --color-highlight: #ff4500;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
    color: var(--color-highlight);
}

p {
    color: var(--color-white);
    font-size: 18px;
    line-height: 28px;
}

a,
.logo a,
#menu a {
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover,
#menu a:hover {
    color: var(--color-highlight);
}

a:active,
#menu a:active {
    color: red;
}

header,
#menu a {
    color: var(--color-white);
}

header {
    width: 100vw;
    padding: 20px 0px;
    box-sizing: border-box;
}

.logo > a {
    display: flex;
    color: var(--color-highlight);
}

.logo > a > div {
    display: flex;
    align-items: center;
}

#menu {
    list-style: none;
    margin: 0;
}

main {
    background-color: var(--color-main-bg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

.content-box {
    background-color: var(--color-dark-cont);
    color: var(--color-white);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
}

footer {
    background-color: var(--color-dark);
    width: 100vw;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    color: var(--color-white);
}

/* Styling for desktop */
@media screen and (min-width: 500px) {
    /* Site-wide styling for desktop view */
    header {
        background-image: url("../images/header-bg1.jpeg");
        background-size: cover;
        height: 150px;
        filter: contrast(90%);
    }

    .logo {
        width: 360px;
        margin-left: 40px;
    }
    
    .logo > a {
        font-size: 40px;
        justify-content: space-around;
    }

    .logo > a > img {
        width: 80px;
    }

    nav {
        background-color: var(--color-dark);
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border-top: 1px solid var(--color-white);
        border-bottom: 1px solid var(--color-white);
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .fa-bars::before,
    #burger-menu {
        display: none;
    }

    #menu {
        width: 480px;
        font-size: 20px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    main {
        background-image: url("../images/yelling-man.jpeg");
        background-position: top right;
        padding: 80px;
        box-sizing: border-box;
        justify-content: space-around;
    }

    .content-row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .social-media-lg {
        width: 50%;
        margin-top: 60px;
        display: flex;
        justify-content: space-evenly;
    }

    .social-media-lg a img {
        width: 100px;
    }

    #footer-content {
        width: 80%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
    }

    #footer-content a {
        text-decoration: underline;
    }

    footer p {
        font-size: 14px;
        line-height: 18px;
        margin: 3px 0px;
    }

    #footer-extra {
        width: 500px;
        padding: 20px;
        display: flex;
        justify-content: center;
    }

    .mobile-only {
        display: none;
    }

    .desktop-only {
        display: flex;
    }

    /* Page specific styleing for desktop view */
    .index-page {
        flex-direction: column;
    }

    .index-page > section {
        width: 50%;
        min-width: 350px;
    }

    .about-page {
        flex-direction: row;
    }

    .about-page > section {
        width: 85%;
    }

    .about-page .text-block {
        margin: 30px;
    }

    .about-page .photo-block {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .about-page .photo-block div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-page .photo-block img {
        width: 200px;
        height: 200px;
        padding: 25px 0px;
    }

    .blog-page #blog {
        width: 65%;
        min-width: 300px;
        padding: 30px;
        box-sizing: border-box;
    }

    .blog-page #author-bio {
        width: 25%;
        min-width: 200px;
        height: 315px;
        padding: 30px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blog-page #author-bio img {
        width: 200px;
        margin-bottom: 5px;
    }

    .blog-page #author-bio p {
        margin: 0px;
        line-height: 30px;
    }

    .classes-page .content-box{
        width: 85%;
        min-width: 600px;
    }

    .classes-page .content-row {
        margin: 15px 0px;
    }

    .classes-page .content-row h4 {
        margin: 10px 0px;
    }

    .classes-page .row-title {
        width: 15%;
    }

    .classes-page .row-type {
        width: 15%
    }

    .classes-page .row-detail {
        width: 40%
    }

    .classes-page .row-times {
        width: 15%;
    }

    .classes-page .row-times ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    .newsletter-page {
        display: flex;
        justify-content: space-evenly;
    }

    .newsletter-page .sign-up-form {
        width: 65%;
    }

    .newsletter-page p {
        width: 80%;
        margin-left: 60px;
    }

    .newsletter-page form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .newsletter-page .form-row {
        width: 80%;
        display: flex;
        flex-direction: column-reverse;
        margin-top: 20px;
    }

    .newsletter-page input {
        width: 60%;
        min-width: 150px;
        height: 22px;
        margin-top: 10px;
        margin-left: 30px;
    }

    .newsletter-page input:focus ~ label,
    .newsletter-page input:valid ~ label {
        margin-left: 30px;
    }

    .newsletter-page label {
        transition: all 0.3s ease;
    }

    .newsletter-page input[type="submit"] {
        background-color: var(--color-highlight);
        width: 120px;
        height: 28px;
        font-size: 16px;
        color: var(--color-white);
        border: none;
        border-radius: 5px;
        transition: color 0.3s ease;
        align-self: flex-end;
    }

    .newsletter-page input[type="submit"]:hover {
        opacity: 0.9;
    }

    .contact-page .content-box{
        width: 85%;
    }

    .contact-page .content-row {
        flex-wrap: wrap;
    }

    .contact-page .content-row div {
        margin: 0px 30px;
    }

    .contact-page .content-row div p {
        font-size: 14px;
        line-height: 20px;
    }
}

/* Styling for mobile */
@media screen and (max-width: 500px) {
    /* Site-wide styling for mobile view */
    header {
        background-color: var(--color-dark);
        height: 80px;
        position: fixed;
        top: 0px;
        left: 0px;
    }

    .logo {
        width: 240px;
        font-size: 25px;
        position: fixed;
        right: 10px;
    }

    .logo > a {
        justify-content: space-evenly;
    }

    .logo > a > img {
        width: 50px;
    }

    nav {
        position: fixed;
        top: 25px;
        left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .fa-bars {
        margin-left: 30px;
    }

    .fa-bars::before {
        color: var(--color-white)
    }

    #burger-menu {
        display: none;
    }

    #menu {
        background-color: var(--color-dark);
        width: 100%;
        max-height: 0px;
        font-size: 20px;
        position: fixed;
        top: 80px;
        left: 0px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        transition: max-height 0.6s ease;
    }

    #menu li {
        padding: 5px;
    }

    #burger-menu:checked ~ #menu {
        height: auto;
        max-height: 200px;
        padding-bottom: 5px;
    }

    main {
        background-image: url("../images/yelling-man-mobile.jpeg");
        background-size: 100% auto;
        align-items: center;
        padding-top: 100px;
        box-sizing: border-box;
    }

    .page {
        flex-direction: column;
    }

    .content-box {
        width: 90%;
        margin-bottom: 20px;
        border-radius: 10px;
        text-shadow: 3px 3px 10px black;
    }

    .content-row {
        display: flex;
        flex-direction: column;
    }

    .social-media-lg {
        width: 90%;
        margin: 40px 0px;
        display: flex;
        justify-content: space-evenly;
    }

    .social-media-lg a img {
        width: 60px;
    }

    #footer-content {
        display: none;
    }

    footer p {
        font-size: 14px;
        line-height: 18px;
        margin: 3px 0px;
    }

    #footer-extra {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-evenly;
    }

    .mobile-only {
        display: flex;
    }

    .desktop-only {
        display: none;
    }

    /* Page specific styling for mobile view */
    .about-page .photo-block {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .about-page .photo-block div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .about-page .photo-block img {
        width: 200px;
        height: 200px;
        margin: 20px 0px;
    }

    .blog-page #blog {
        width: 90%;
        padding: 30px;
        box-sizing: border-box;
    }

    .blog-page #author-bio {
        width: 90%;
        padding: 30px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blog-page #author-bio img {
        width: 200px;
        margin-bottom: 5px;
    }

    .blog-page #author-bio p {
        margin: 0px;
        line-height: 30px;
    }

    .classes-page .content-row {
        margin: 20px 0px;
    }

    .classes-page .content-row div {
        margin: 4px 0px;
    }

    .classes-page .row-title {
        color: var(--color-highlight);
    }

    .classes-page .row-times ul {
        list-style: none;
        margin: 0px;
    }

    .newsletter-page form,
    .form-row {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .newsletter-page input {
        height: 22px;
    }

    .newsletter-page input:focus ~ label,
    .newsletter-page input:valid ~ label {
        top: -48px;
        left: 0px;
        color: var(--color-white);
    }

    .newsletter-page label {
        position: relative;
        top: -23px;
        left: 8px;
        color: var(--color-dark);
        text-shadow: none;
        transition: all 0.2s ease;
    }

    .newsletter-page input[type="submit"] {
        background-color: var(--color-highlight);
        height: 28px;
        font-size: 16px;
        color: var(--color-white);
        border: none;
        border-radius: 5px;
    }

    .contact-page .content-row p {
        font-size: 14px;
        line-height: 20px;
        margin: 0px 0px;
    }

    .contact-page .content-row h4 {
        margin: 10px 0px;
    }

    .contact-page .content-row div {
        margin-bottom: 10px;
    }

}